<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MapsDistanceMatrix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MapsDistanceMatrix.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>AIzaSyDC4PrNsWx3Pgrv53t_sBGVRKGYmNbbB4A</value>
            </setting>
            <setting name="ApiJsonEndpoint" serializeAs="String">
                <value>https://maps.googleapis.com/maps/api/distancematrix/json?</value>
            </setting>
            <setting name="ApiMaxElementsPerRequest" serializeAs="String">
                <value>100</value>
            </setting>
        </MapsDistanceMatrix.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>